<%- include('../_include/header', { id: 4 }) -%>
<section class="container center">
  <div class="row mb4">
    <div class="column one-half">
      <h3>Local</h3>
      <video id="local-video-1" autoplay muted></video>
      <video id="local-video-2" autoplay muted></video>
      <video id="local-video-3" autoplay muted></video>
    </div>
    <div class="column one-half">
      <h3>Remote</h3>
      <video id="remote-video" autoplay></video>
    </div>
  </div>
  <div>
    <button id="call-btn" class="button-primary">Call</button>
    <button id="replace-btn" class="button">Replace</button>
  </div>
</section>
<%- include('../_include/footer') -%>
