<%- include('../_include/header', { id: 2 }) -%>
<section class="container center">
  <div class="row mb4">
    <div class="column one-half">
      <h3>Local</h3>
      <canvas id="local-canvas-r"></canvas>
      <canvas id="local-canvas-g"></canvas>
      <canvas id="local-canvas-b"></canvas>
    </div>
    <div class="column one-half">
      <h3>Remote</h3>
      <video id="remote-video" autoplay></video>
    </div>
  </div>
  <div>
    <button id="call-btn" class="button-primary">Call</button>
    <button id="replace-btn" class="button">Replace</button>
  </div>
</section>
<%- include('../_include/footer') -%>
