<%- include('../_include/header', { id: 2 }) -%>
<section>
  <div>
    <canvas></canvas>
    <video autoplay></video>
  </div>
  <div>
    <button id="tc-call">Call</button>
  </div>
</section>
<%- include('../_include/footer') -%>
