<%- include('../_include/header', { id: 3 }) -%>
<section class="container center">
  <div class="row mb4">
    <div class="column one-half">
      <h3>Local</h3>
      <pre id="local-pre"></pre>
    </div>
    <div class="column one-half">
      <h3>Remote</h3>
      <pre id="remote-pre"></pre>
    </div>
  </div>
  <div>
    <button id="connect-btn" class="button-primary">Connect</button>
  </div>
</section>
<%- include('../_include/footer') -%>
