  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"
  ></script>
  <script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
  <script src="/shared/util.js"></script>
  <script src="/shared/key.js"></script>
  <script src="./main.js"></script>
</body>
</html>
