<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Case <%- id -%></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
  <link rel="stylesheet" href="/shared/global.css">
  <link rel="stylesheet" href="/shared/util.css">
</head>
<body>
